.work-page {
  position: relative;
  background-color: #f2f5f9;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1518px;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 24px;
  color: #000;
  font-family: Raleway;
}
.logo_name4 {
  position: relative;
}
.logo2 {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
  align-items: center;
  justify-content: flex-start;
}
.last_name2 {
  background: linear-gradient(180deg, #ff9c1a, #ed250a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.phmoon2 {
  border-radius: 50px;
  background-color: #ebf2fa;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  width: 56px;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
}
.header2 {
  position: absolute;
  top: 18px;
  left: 100px;
  width: 1240px;
  height: 104px;
  flex-direction: row;
  padding: 44px 0;
  justify-content: space-between;
  font-family: Pacifico;
}
.header2,
.phmoon2 {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  margin: 0;
  padding: 0;
}
.social_icon18 {
  position: relative;
  width: 55px;
  height: 55px;
  object-fit: cover;
}
.profile-card2 {
  top: 100px;
  left: 0;
  background-color: #fff;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
  width: 400px;
  height: 700px;
}
.contact-card6,
.profile-card2,
.profile_picIcon2 {
  position: absolute;
  border-radius:20px;
}
.contact-card6 {
  top: 384px;
  left: 25px;
  background-color: #f2f5f9;
  width: 350px;
  height: 350px;
}
.profile_picIcon2 {
  top: -4px;
  left: 88px;
  width: 208px;
  height: 208px;
  object-fit: cover;
}
.logo_name5 {
  position: relative;
  line-height: 36px;
}
.name4 {
  position: absolute;
  top: 214px;
  left: calc(50% - 117px);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: #0b0909;
}
.career_info2 {
  position: relative;
  line-height: 40px;
  font-weight: 500;
}
.career-details2 {
  position: absolute;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  top: 254px;
  left: calc(50% - 76px);
  width: 153px;
  height: 40px;
  flex-direction: row;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: rgba(11, 9, 9, 0.5);
  overflow: hidden;
  display: flex;
}
.social_icon19 {
  position: relative;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.facebook2 {
  border-radius: 9px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0;
  align-items: center;
  justify-content: center;
}
.social_icon20 {
  position: relative;
  width: 15px;
  height: 15px;
  object-fit: cover;
}
.linkedin2,
.rilinkedin-fill2 {
  border-radius: 8px;
  background-color: #f2f7fc;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rilinkedin-fill2 {
  width: 20px;
  flex-direction: column;
  padding: 2px 2px;
  box-sizing: border-box;
}
.linkedin2 {
  flex-direction: row;
  padding: 21px 25px;
}
.social_icon21 {
  position: relative;
  width: 17px;
  height:14px;
  object-fit: cover;
}
.ritwitter-fill2 {
  display: flex;
  flex-direction: column;
  padding: 3px 2px;
  align-items: flex-start;
  justify-content: flex-start;
}
.social_icon22 {
  position: relative;
  width:17px;
  height: 16px;
  object-fit: cover;
}
.rigithub-fill2 {
  flex-direction: column;
  padding: 2px;
}
.github2,
.rigithub-fill2,
.social-media-icons2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.github2 {
  border-radius: 8px;
  background-color: #f2f7fc;
  flex-direction: column;
  padding: 21px 25px;
}
.social-media-icons2 {
  position: absolute;
  top: 300px;
  left: 58px;
  flex-direction: row;
  gap: var(--gap-3xs-1);
}
.phone-group-inner {
  position: absolute;
  top: 62.5px;
  left: -0.5px;
  border-top: 1px solid rgba(205, 205, 205, 0.5);
  box-sizing: border-box;
  width: 257px;
  height: 1px;
}
.social_icon23 {
  position: relative;
  width: 12px;
  height: 20px;
  object-fit: cover;
}
.gridiconsphone2,
.phone10 {
  background-color: #f2f7fc;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.gridiconsphone2 {
  border-radius: 8px;
  padding: 2px 6px;
}
.phone10 {
  border-radius: 8px;
  padding: 10px;
}
.phone12 {
  position: relative;
  font-weight: 600;
}
.phone11 {
  height: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.div4 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
  color: #000;
}
.phone-details2,
.phone9 {
  display: flex;
  justify-content: flex-start;
}
.phone-details2 {
  flex-direction: column;
  padding: 5px 0;
  align-items: flex-start;
}
.phone9 {
  position: absolute;
  top: 0;
  left: 2px;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.phone-group2 {
  position: absolute;
  top: 417px;
  left: 61px;
  width: 256px;
  height: 63px;
}
.social_icon24 {
  position: relative;
  width: 20px;
  height: 19px;
  object-fit: cover;
}
.email_section2 {
  border-radius: 8px;
  background-color: #f2f7fc;
  flex-direction: column;
  padding: 1px 2px;
}
.email-details4,
.email9,
.email_section2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.email9 {
  border-radius: 8px;
  background-color: #f2f7fc;
  flex-direction: column;
  padding: 10px;
}
.email-details4 {
  position: absolute;
  top: 0;
  left: calc(50% - 150px);
  flex-direction: row;
  gap: 12px;
}
.email-group2,
.location-inner {
  position: absolute;
  top: 496px;
  left: 58px;
  width: 302px;
  height: 63px;
}
.location-inner {
  top: 65.5px;
  left: -0.5px;
  border-top: 1px solid rgba(205, 205, 205, 0.5);
  box-sizing: border-box;
  width: 257px;
  height: 1px;
}
.social_icon25,
.social_icon26 {
  position: relative;
  width: 15px;
  height: 21px;
  object-fit: cover;
  z-index: 0;
}
.social_icon26 {
  position: absolute;
  margin: 0 !important;
  height: 25.13%;
  width: 25.13%;
  top: 24.93%;
  right: 137.43%;
  bottom: 49.93%;
  left: -62.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.location_section2,
.location11 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.location_section2 {
  border-radius: 8px;
  background-color: #f2f7fc;
  padding: 2px 5px;
  position: relative;
}
.location11 {
  position: absolute;
  top: 0;
  left: 1.5px;
}
.location10 {
  position: absolute;
  top: 575px;
  left: 59px;
  width: 256px;
  height: 66px;
}
.material-symbolsdownload-icon2 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.download-resume2 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.download-details2 {
  position: absolute;
  top: 657px;
  left: 109px;
  border-radius:20px;
  background: linear-gradient(91.49deg, #ff9c1a, #e80505);
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 12px;
  color: #f2f7fc;
}
.profile-details2 {
  position: absolute;
  top: 174px;
  left: 100px;
  box-shadow: 0 0 1px transparent;
  width: 400px;
  height: 800px;
  font-size: 13.9px;
  color: rgba(26, 16, 3, 0.5);
}
.portfolio-card {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius:20px;
  background-color: #fff;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
  width: 820px;
  height: 700px;
}
.work4 {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 40px;
  font-weight: 500;
}
.work-wrapper {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
}
.work-heading-child {
  position: relative;
  width: 254px;
  height: 4px;
  object-fit: cover;
}
.work-heading {
  position: absolute;
  top: 28px;
  left: 82px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  font-size: 40px;
}
.uiux-card-child {
  position: relative;
  border-radius: 8px;
  background-color: #fff4e5;
  width: 350px;
  height: 150px;
  z-index: 0;
}
.rental,
.uiux,
.uiux-card-item {
  position: absolute;
  margin: 0 !important;
  left: 8px;
}
.uiux-card-item {
  top: 8px;
  border-radius: 8px;
  width: 334px;
  height: 100px;
  object-fit: cover;
  z-index: 1;
}
.rental,
.uiux {
  top: 126px;
  line-height: 16px;
  z-index: 2;
}
.uiux {
  top: 113px;
  font-size: 10px;
  color: rgba(26, 16, 3, 0.5);
  z-index: 3;
}
.uiux-card {
  position: absolute;
  top: 182px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.web-development-card-child {
  position: relative;
  border-radius: 8px;
  background-color: #ffeed9;
  width: 350px;
  height: 150px;
  z-index: 0;
}
.ideaflow,
.web-development2 {
  position: absolute;
  margin: 0 !important;
  top: 126px;
  left: 8px;
  line-height: 16px;
  z-index: 1;
}
.web-development2 {
  top: 113px;
  font-size: 10px;
  color: rgba(26, 16, 3, 0.5);
  z-index: 2;
}
.web-development-card-item {
  position: absolute;
  margin: 0 !important;
  top: 8px;
  left: 8px;
  border-radius: 8px;
  width: 334px;
  height: 100px;
  object-fit: cover;
  z-index: 3;
}
.web-development-card1 {
  position: absolute;
  top: 364px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.blog-card-child {
  position: relative;
  border-radius: 8px;
  background-color: #ffeed9;
  width: 350px;
  height: 200px;
  z-index: 0;
}
.blog,
.blog-card-item,
.nextjs {
  position: absolute;
  margin: 0 !important;
  left: 8px;
}
.blog-card-item {
  top: 8px;
  border-radius: 8px;
  width: 334px;
  height: 150px;
  object-fit: cover;
  z-index: 1;
}
.blog,
.nextjs {
  top: 178px;
  line-height: 16px;
  z-index: 2;
}
.blog {
  top: 162px;
  font-size: 10px;
  color: rgba(26, 16, 3, 0.5);
  z-index: 3;
}
.blog-card {
  position: absolute;
  top: 0;
  left: 374px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.mentorship-card-child {
  position: relative;
  border-radius: 8px;
  background-color: #ffe3bf;
  width: 350px;
  height: 200px;
  z-index: 0;
}
.mentorship3,
.tech-mentor {
  position: absolute;
  margin: 0 !important;
  left: 8px;
  line-height: 16px;
}
.tech-mentor {
  top: 176px;
  display: inline-block;
  width: 109px;
  z-index: 2;
}
.mentorship3 {
  top: 160px;
  font-size: 10px;
  color: rgba(26, 16, 3, 0.5);
  z-index: 3;
}
.mentorship-card {
  position: absolute;
  top: 232px;
  left: 374px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.app-development-card-child {
  position: relative;
  border-radius: 8px;
  background-color: #ffe3bf;
  width: 350px;
  height: 150px;
  z-index: 0;
}
.app-development1 {
  position: absolute;
  margin: 0 !important;
  top: 110px;
  left: 8px;
  font-size: 10px;
  line-height: 16px;
  color: rgba(26, 16, 3, 0.5);
  z-index: 2;
}
.app-development-card1 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.porfolio-cards {
  position: absolute;
  top: 130px;
  left: 58px;
  width: 724px;
  height: 514px;
  color: #1a1003;
}
.all {
  color: #fa5252;
}
.all,
.design {
  position: relative;
  font-weight: 500;
}
.work-tags {
  position: absolute;
  top: 90px;
  left: 252px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  color: #57657a;
}
.work-section {
  position: absolute;
  top: 264px;
  left: 510px;
  width: 840px;
  height: 720px;
  font-size: 16px;
  color: #0b0909;
  font-family: Poppins;
}
.home-card-inner,
.nav-card2 {
  position: relative;
  border-radius:20px;
  z-index: 0;
}
.nav-card2 {
  background-color: #f2f7fc;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  width: 503px;
  height: 100px;
}
.home-card-inner {
  background-color: #e1e8ef;
  width: 80px;
  height: 80px;
}
.home4 {
  margin: 0 !important;
  position: absolute;
  top: 16px;
  left: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.home-card2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 10px;
  cursor: pointer;
}
.resume4 {
  margin: 0 !important;
  position: absolute;
  top: 13px;
  left: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.work-card5 {
  position: relative;
  border-radius:20px;
  background: linear-gradient(91.49deg, #ff9c1a, #e80505);
  width: 80px;
  height: 80px;
  z-index: 0;
}
.work-card4,
.work5 {
  display: flex;
  justify-content: flex-start;
}
.work5 {
  margin: 0 !important;
  position: absolute;
  top: 14px;
  left: 25px;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  z-index: 1;
}
.work-card4 {
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  gap: 10px;
  color: #f2f7fc;
}
.contact6,
.nav-cards2,
.navbar2 {
  position: absolute;
  display: flex;
  align-items: center;
}
.contact6 {
  margin: 0 !important;
  top: 16px;
  left: 17px;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1;
}
.nav-cards2,
.navbar2 {
  justify-content: center;
}
.nav-cards2 {
  margin: 0 !important;
  top: 10px;
  left: 31px;
  flex-direction: row;
  gap: 40px;
  z-index: 1;
}
.navbar2 {
  top: 164px;
  left: 839px;
  flex-direction: column;
  gap: 10px;
  font-size: 12px;
}